<div class="header">
  <a href="<%= root_path %>"><%= image_tag 'logo.png', :size => "202x30", :class => 'logo' %></a>

  <a href="#" id="source" class="filter_link">// source</a>
  <a href="#" id="phase" class="filter_link">// phase</a>
  <a href="#" id="cohort" class="filter_link">// cohort</a>
  <%= link_to "// about", about_path, :class => "filter_link" %>

    <div class="search">
      <%= form_tag("/search", :method=>:get) do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>  
</div>
