

<%= render 'shared/meta' %>


<a href="http://instagram.com/<%= @post.data["user"]["username"] %>" class="avatar">
  <%= image_tag(@post.data["user"]["profile_picture"], :size => "64x64") %>
</a>


<div class="masthead">  
  <div class="blog_name"><%= @post.data["user"]["username"] %></div>
  <div class="instagram_caption"><%= @post.data["caption"]["text"] %></div>
</div>
   
<%= image_tag @post.data["images"]["low_resolution"]["url"] %>

<%= link_to "original post", @post.data['link'] %>
