

<%= render 'shared/meta' %>

  <a href="http://<%= @post.resource.identifier %>">
    <%= image_tag(@post.resource.profile_pic_url, :size => "64x64") %></a>

    <b><%= @post.data["blog_name"] %></b>

      <blockquote>
      	<p><%= @post.data['text'] %></p>
        <small><cite><%= raw(@post.data['source']) %></cite></small>
      </blockquote>
	 	

