
<div class="media well">
  <a href="#" class="pull-left">
    <img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
    <div class="media-body">
      <h4 class="media-heading"><%= @post.title %></h4>
      <%= @post.data["blog_name"] %>
      <%= @post.data["post_url"] %>
   title: <%= @post.data["title"] %>
   cpation<%= @post.data["photos"][0]["caption"] %> 
      <%= image_tag @post.data["photos"][0]["alt_sizes"][0]["url"] %> 
	</div>
</div>