



<%= render 'shared/meta' %>


  <a href="http://<%= @post.resource.identifier %>" class="avatar">
    <%= image_tag(@post.resource.profile_pic_url, :size => "64x64") %>
  </a>
    

  <b><%= @post.data["blog_name"] %></b>
    

    <h4><%= @post.title %></h4>
      <%= raw(@post.data['body']) %> 

