


<div class="media well">


  <a href="http://<%= @post.resource.identifier %>" class="pull-left">
    <%= image_tag(@post.resource.profile_pic_url, :size => "64x64") %></a>

    <b><%= @post.data["blog_name"] %></b>
    <div class="media-body">
      <h4 class="media-heading"><%= @post.title %></h4>
      <%= raw(@post.data['body']) %> 
    </div>

</div>

