
<% if @posts.length == 0 %>

  0 posts found<br><br>

<% end %>

<% if @posts.length < 5 && @posts.length > 0 %>

  Less than 5 posts, try relaxing your filters.

<% end %>

<% if @all != 0 || @num_filters == @all %>

  There are filters applied.

<% end %>

<!-- <%= render "shared/modal_filter" %> -->

<!-- <%= render "shared/filter_error" %> -->



<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>



<% @posts.each do |post| %>
<div class="grid">

  <% @post = post %>

    <% source = @post.resource.source %>

      <% if source == 'tumblr' %>
        <%= render 'shared/tumblr' %>
      <% end %>

      <% if source == 'twitter' %>
        <%= render 'shared/twitter' %>
      <% end %>

      <% if source == 'instagram' %>
        <%= render 'shared/instagram' %>
      <% end %>
</div>


<% end %>   











