

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>



<hr>
<% @posts.each do |post| %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <% @post = post %>

        <%= image_tag("#{@post.resource.source}.png", :size => "40x40") %>&nbsp;&nbsp;


        Posted <%= time_ago_in_words(@post.posted_at)%> ago by
      

        <b><%= @post.resource.boot.try(:name) %></b>, 
      
        <% cohort = @post.resource.boot.try(:cohort) %>
        <%= cohort.try(:name) %>
        
        <span class="original_post"><%= link_to 'original post', '' %></span>

        <% source = @post.resource.source %>

        <% if source == 'tumblr' %>
          <%= render 'shared/tumblr' %>
        <% end %>

        <% if source == 'twitter' %>
          <%= render 'shared/twitter' %>
        <% end %>

        <% if source == 'instagram' %>
          <%= render 'shared/instagram' %>
        <% end %>

    </div>
  </div>
</div>

<hr>

<% end %>    










