<!DOCTYPE html>
<html>
<head>
  <title>Dev Bootstream</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


    <script src="http://js.pusher.com/2.0/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    var pusher = new Pusher('182768e694888d0849e2');
    var channel = pusher.subscribe('bootstream');
    channel.bind('post_created', function(data) {
      $.get('posts/'+data.post_id,function(data){
        var card = $(data);
        card.imagesLoaded(function(){
          //card images loaded
          $('#container').prepend(card).masonry('reload');          
        });

      });
    });
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>

<%= render 'shared/header' %>

<%= render "shared/filter" %>

<div class="filter_display"><%= @source %> <%= @phase %> <%= @cohort %>  
  <% if @source || @phase || @cohort %>
    <%= link_to '// clear', root_path %>
  <% end %>
</div>  

<div id='container'>
  <%= yield %>
</div> 
  <div id='pagination'>
    <%=link_to "next", params.merge({:next_page=>(@page_number+1)}) %>
  </div>
</body>
</html>
